*{
    box-sizing:border-box;
    user-select: none;
}


body{
    margin:0;
    padding:0;
   /* background-image: url("/opt/build/repo/src/images/BGP.png");
    */background-color: #de2e53;
    font-family: 'Roboto', sans-serif;
}

.activity{
    touch-action: none;
    border-radius:50px;
    min-width:100px;
    padding:1em 2em;
    text-align:center;
    /*background:#f9a8b9;*/
    background-color: #de2e53;
    width:250px;
    cursor:pointer;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.activity:hover{
    /*background-color: #f195a9 ;*/
    background-color: #ca2a4d;

}

::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px none;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: none;
  }


@media only screen and (max-width: 1000px) {
    .activity{
        min-width:100px;


    }
  }

  @media only screen and (max-width: 600px) {
    .activity{
        min-width:100px;
        font-size:0.8em;
    }


  }

