.grid {
    position: relative;
    width: 100%;
    background: white;
    border-radius:20px;
    border: 5px solid transparent;
    height:700px;
    min-height:700px;
}

.grid{
    max-height: 700px;
}
.item {
    position: absolute;
    width: 350px;
    height:15%;
    margin: 5px;
    z-index: 1;
    height:min-content;
    
}
.item.muuri-item-hidden {
    z-index: 0;
}
.item.muuri-item-releasing {
    z-index: 2;
}
.item.muuri-item-dragging {
    z-index: 3;
}
.item-content {
    position: relative;
    width: 100%;
    text-align: center;
    background-color:#de2e53;
    font-size: 30px;
    color: white;
    cursor: pointer;
    border-radius:20px;
    display:flex;
    justify-content: center;
    align-items:center;
    height:80px;
    left:15px;
    top:20px;

}
