---
---
<button id = "btn">Grade!</button>
<style>
    button{
       /* background-color: #f9a8b9;*/
        background-color: #de2e53;
        padding: 1em 2em;
        color:white;
        font-weight: bold;
        border-radius: 50px;
        font-size:30px;
        border:none;
        cursor:pointer;
        margin:  0px 20px;
        
    }
    button:hover{
        /*background-color: #f195a9 ;*/
        background-color: #ca2a4d;
    }
</style>