---
const { title } = Astro.props;
---

<div class = "cardTitle"> 
    <h1> {title} </h1>
</div>

<style>

.cardTitle{
    text-align:center;   
    background-color:white;
    height:80px;
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    
}
</style>