---
const { colNumber } = Astro.props;
const { cardTitle } = Astro.props;

import CardTitle from '../components/CardTitle.astro';

---

<div class = "cardContainer">

<CardTitle title = {cardTitle} />

<div id = {`grid-${colNumber}`} class = {`grid grid-${colNumber}`}>
      <slot/>
</div>

</div>
<style>
.cardContainer{
 /* border:5px solid yellow;*/
  width:400px;
  display:flex;
  flex-direction:column;
  gap:1em;
}


    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
      .cardContainer{
            /* border:5px solid yellow;*/
            width:400px;
            display:flex;
            flex-direction:column;
            position: relative;
            bottom:20px;
            gap:1em;
            }

}
</style>