---
---

<div class = "section1"> 
    <h1> Activities </h1>
    <slot /> 
</div>


<style>
    h1{
       /* border:5px solid black;*/
       position: relative;
       top:0.5em;
    }
    .section1{
        padding-top:20px;
        /*border:2px solid black;*/
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:min-content;
        border-radius: 20px;
        height:100%;
        min-width:100px;
        background-color: white;
        overflow:auto;
        padding:20px 0px;
    }
    @media only screen and (max-width: 1500px) {
    .section1 {
      width:100%;
      height:min-content;

    }
  }


</style>