---
---

<div class = "flex">
    <slot/>
</div>

<style>
    .flex{
        /*border:5px solid yellow;*/
        display:flex;
        justify-content:center;
        align-items:center;
        width:100%;
        gap:1em;
        height:900px;
        flex-wrap:wrap;
    }
</style>